@media (min-width: 1900px) {
body {
    font-family:'Montserrat',sans-serif;
    background : black;
}
video#bgvid {
    margin-top:50px;
    margin-left:420px;
  position: absolute;
  min-width: 50%; min-height: 50%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

#quiz {
     position: absolute;
     margin-top:-10px;
    margin-left:-10px;
    background:black;
    padding:10px 20px 10px 20px;
    width:1865px;
    height:130px;
    float:left;
    border : 1px solid #fff;
}


#WildTracks {

    position: absolute;
    text-align:center;
     font-size:50px;
     color : white;
     margin-top :30px;
    border : 1px solid #fff;
}
#tableau{
    position : absolute;
    margin-left:319px;
    margin-top : 26px;
    font-size : 12.4px;
    border : 2px solid #fff;
}

#input {
    position: absolute;
    margin-border:20px;
    display:block ;

    
}


#textbox {
    margin-top: 25px;
    margin-left: 390px;
    margin-right: 15%;
    position: absolute;
    height:82px;
    width:1210px;
    font-size:70px;
    border:none;
    padding-left:5px; 
    background-color: white;
}


#button {
    margin-top: 25px;
     margin-left: 1585px;
     margin-right: 25%;
    height:82px;
    width:80px;
     position: absolute;
    background:black;
    border:none;
    color:white;
    font-size:16px;
    border : 1px solid #fff;
       -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#button:hover {
  background-color: white; /* Green */
  color: white;
  border : 1px solid black;
  color:black;
}

#after_submit {
    visibility: hidden;
    background:#0000ff;
    padding:10px 20px 10px 20px;
    width:device-width;
    border-radius:20px;
    float:left;
    margin-left:20px;
    font-size:30px;
}

.volume {
    vertical-align: bottom;
    display: inline-block;
    height: 90px;
    white-space: nowrap;
    margin-left :700px;
     margin-top:-1500px;
     position : absolute;
}

.volume button {
    display: inline-block;
    background: black;
    width: 8px;
    vertical-align: bottom;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border-left: 1px solid #fff;
    position: absolute;
    bottom: 0;  
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.volume button:hover {
    position : absolute;
  background-color: white; /* Green */
  color: white;
}

.stick1 { height: 15px;  left: 0px; }
.stick2 { height: 30px; left: 25px; }
.stick3 { height: 50px; left: 50px; }
.stick4 { height: 70px; left: 75px; }
.stick5 { height: 80px; left: 100px; }

#aigle {
    margin-top : 500px;
    margin-left : 100px;
    width:10%;
    height:20%;
}
#baleine {
     margin-top :500px;
    margin-left : 200px;
    width:10%;
    height:20%;
}
#canard {
     margin-top : 500px;
    margin-left : 300px;
    width:10%;
    height:20%;
}
#chat {
     margin-top : 500px;
    margin-left : 400px;
    width:10%;
    height:20%;
}
#cheval {
     margin-top : 500px;
    margin-left : 500px;
    width:10%;
    height:20%;
}
#chien {
     margin-top : -500px;
    margin-left : 600px;
    width:10%;
    height:20%;
}
#cochon {
         margin-top : -500px;
    margin-left : 700px;
    width:10%;
    height:20%;
}
#poule {
        margin-top : -500px;
    margin-left : 800px;
    width:10%;
    height:20%;
}



.hidden{
    display:none !important;
    }
    #fleur{
        height:100px;
        width: auto;
    }
    #fleur1{
        height:100px;
        width: auto;
    }
}





@media (max-width: 1600px) {
    body {
        font-family:'Montserrat',sans-serif;
        background : black;
    }
    video#bgvid {
        margin-top:50px;
        margin-left:270px;
      position: absolute;
      min-width: 50%; min-height: 50%;
      width: auto; height: auto; z-index: -100;
      background: url(polina.jpg) no-repeat;
      background-size: cover;
    }
    
    #quiz {
         position: absolute;
         margin-top:-10px;
        margin-left:-10px;
        background:black;
        padding:10px 20px 10px 20px;
        width:1478px;
        height:130px;
        float:left;
        border : 1px solid #fff;
    }
    
    
    #WildTracks {
    
        position: absolute;
        text-align:center;
         font-size:50px;
         color : white;
         margin-top :30px;
        border : 1px solid #fff;
    }
    #tableau{
        position : absolute;
        margin-left:319px;
        margin-top : 26px;
        font-size : 12.4px;
        border : 2px solid #fff;
    }
    
    #input {
        position: absolute;
        margin-border:20px;
        display:block ;
    
        
    }
    
    
    #textbox {
        margin-top: 25px;
        margin-left: 390px;
        margin-right: 15%;
        position: absolute;
        height:82px;
        width:900px;
        font-size:70px;
        border:none;
        padding-left:5px; 
        background-color: white;
    }
    
    
    #button {
        margin-top: 25px;
         margin-left: 1200px;
         margin-right: 25%;
        height:82px;
        width:80px;
         position: absolute;
        background:black;
        border:none;
        color:white;
        font-size:16px;
        border : 1px solid #fff;
           -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    
    #button:hover {
      background-color: white; /* Green */
      color: white;
      border : 1px solid black;
      color:black;
    }
    
    #after_submit {
        visibility: hidden;
        background:#0000ff;
        padding:10px 20px 10px 20px;
        width:device-width;
        border-radius:20px;
        float:left;
        margin-left:20px;
        font-size:30px;
    }
    
    .volume {
        vertical-align: bottom;
        display: inline-block;
        height: 90px;
        white-space: nowrap;
        margin-left :1270px;
        margin-top: 15px;
        position : absolute;
    }
    
    .volume button {
        display: inline-block;
        background: black;
        width: 8px;
        vertical-align: bottom;
        margin-left: 0px;
        margin-right: 0px;
        cursor: pointer;
        border-left: 1px solid #fff;
        position: absolute;
        bottom: 0;  
         -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    
    .volume button:hover {
        position : absolute;
      background-color: white; /* Green */
      color: white;
    }
    
    .stick1 { height: 15px;  left: 0px; }
    .stick2 { height: 30px; left: 25px; }
    .stick3 { height: 50px; left: 50px; }
    .stick4 { height: 70px; left: 75px; }
    .stick5 { height: 80px; left: 100px; }
    
    #aigle {
        z-index: 100;
        width:10%;
        height:20%;
        margin-left: -200px;
        margin-bottom:-32px;
    }
    #baleine {
        z-index: 110;
        width:15%;
        height:20%;
        margin-bottom: -90px;
    }
    #canard {
        z-index: 120;
        width:7%;
        height:20%;
        margin-bottom:-22px;
        
    }
    #chat {
        z-index: 130;
        width:7%;
        height:20%;
        margin-bottom:-33px;
    }
    #cheval {
        z-index: 140;
        width:10%;
        height:20%;
        margin-bottom:-28px;
    }
    #chien {
        z-index: 150;
        width:7%;
        height:20%;
        margin-bottom: -25px;
        
    }
    #cochon {
        z-index: 160;
        width:7%;
        height:20%;
        margin-bottom: -27px;
        
    }
     #coq {
        z-index: 180;
        width:5%;
        height:20%;
        padding-left: 300px;
     }
     #dauphin {
        z-index: 190;
        width:10%;
        height:20%;
     }
     #gorille{
        z-index: 200;
        width:15%;
        height:20%;
        margin-top:-25px;
     }
     #grenouille{
        z-index: 210;
        width:5%;
        height:20%;
     }
     #guépard{
        z-index: 220;
        width:10%;
        height:20%;
     }
     #lapin{
        z-index: 230;
        width:5%;
        height:20%;
     }
     #lion{
        z-index: 240;
        width:15%;
        height:20%;
        margin-bottom:-50px;
        margin-left: -20px;
     }
     #loup{
        z-index: 250;
        width:10%;
        height:20%;
        padding-left: 300px;
     }
     #mouette{
        z-index: 260;
        width:5%;
        height:20%;
     }
     #mouton{
        z-index: 270;
        width:10%;
        height:20%;
     }
     #orque{
        z-index: 280;
        width:10%;
        height:20%;
     }
     #ours{
        z-index: 290;
        width:13%;
        height:20%;
        margin-top:-25px;
     }
     #pengouin{
        z-index: 300;
        width:10%;
        height:20%;
        
     }
     #pigeon{
        z-index: 310;
        width:5%;
        height:20%;
        padding-left: 300px;
        margin-right: 20px;
     }
     #poisson{
        z-index: 320;
        width:5%;
        height:20%;
        margin-right: 20px;
     }
     #poule{
        z-index: 330;
        width:5%;
        height:20%;
        margin-right: 20px;
     }
     #serpent{
        z-index: 340;
        width:10%;
        height:20%;
        margin-right: 20px;
        margin-top: -20px;
     }
	 #singe{
        z-index: 350;
        width:10%;
        height:20%;
        margin-right: 20px;
        margin-top: -20px;
     }
    
    
    .hidden{
        display:none !important;
        }
        #fleur{
            height:100px;
            width: auto;
            margin-left: 350px;
            margin-top: 522px;
            z-index: 50;
        }
        #fleur1{
            height:100px;
            width: auto;
            margin-left: 350px;
            margin-top: 522px;
            z-index: 50;
        }
    }
    
    
    
    
    
